[submodule "chi_square_rlog"]
	path = chi_square/lib/RLogSU
	url = https://github.com/71frukt/RLogSU.git

[submodule "rnd_test_rlog"]
	path = rnd_generators_test/lib/RLogSU
	url = https://github.com/71frukt/RLogSU.git

[submodule "task7_rlog"]
	path = task7_LogImpl/lib/RLogSU
	url = https://github.com/71frukt/RLogSU.git
