[submodule "task7_LogImpl/lib/RLogSU"]
	path = task7_LogImpl/lib/RLogSU
	url = https://github.com/71frukt/RLogSU.git

[submodule "rnd_generators_test/lib/RLogSU"]
	path = rnd_generators_test/lib/RLogSU
	url = https://github.com/71frukt/RLogSU.git
